.DS_Store
*.m~
*.sh~
*.txt~
*.tex~

__pycache__/

*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz

*.mat
*.gif
*.HD
*.DT1
*.dat
*.avi
*.xcf

dir_paths_.m

data/w-processing/pics/
data/dc-processing/pics/

field/server-see/pics/

variable-layout/
scp-git/
bhrs/
bhrs-fwd/
bhrs2-fi/
bhrs3-fi/
bhrs4-fi/
bhrs5-fi/
bhrs6-fi/
bhrs7-fi/
bhrsDC-fi/
calcite/
elastic/
compli-sy/
dibujo-sy/
effective-sy/
florida-fi/f20/
florida-fi/f21/
geopark-fi/g5/
geyser-c/
glacier-sy/
glacier2-sy/
grenoble-aba/
gronin/
groningen/
groningen2/
high-sy/
kafadar-sy/
kompli-sy/
low-sy/
refract-fwd/
refract-sy/
sandbar-fi/
snow-sy/
tinyelastic-sy/
tree-sy/
twofive-sy/
utah-sy/

AVA_GRENOBLE_SAC/
bhrs/
bhrs_full/
erb-lawn/
florida/
geopark/
geyser-c/
gowen/
groningen/
groningen2/
idaho-peni/
qifei/
sandbar/
utah/
vinyard-hat/
