.DS_Store
*.m~
*.sh~
*.txt~
*.tex~

__pycache__/

*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz
*.tex

*.mat
*.png
*.gif
*.HD
*.DT1
*.dat
*.avi
*.xcf

variable-layout/
scp-git/
adam-benchmark/
bhrs/
calcite/
compli-sy/
dibujo-sy/
effective-sy/
example-sy/e2/
example-sy/
geyser-sy/
glacier-sy/
grenoble-aba/
gronin/
groningen/
groningen2/
high-sy/
john-benchmark/
kompli-sy/
low-sy/
refract-sy/
refract-fwd/
snow-sy/
sy-5/
sy-6/
sy-7/
synthetic/
synthetic-2/
synthetic-3/
synthetic-4/
synthetic-build/
synthetic-noise/
synthetic-snow/
synthetic-tree/
utah-sy/

AVA_GRENOBLE_SAC/
erb-lawn/
gowen/
groningen2/
qifei/
utah/
bhrs/
florida/
geopark/
geyser-c/
groningen/
idaho-peni/
synthetic2/
vinyard-hat/

florida-fi/f20/
florida-fi/f21/
geopark-fi/g5/
